/* HEADER OCH FOOTER */

header {
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(2px);             
  -webkit-backdrop-filter: blur(2px);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  transition: background 0.3s ease, box-shadow 0.3s ease;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header:hover {
  background: var(--light-bg);
  color: var(--primary-green)
}

header:hover a {
  color: var(--primary-green)
}

/* headerpunkter i kolumn */
.navbar-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  gap: 1rem;
  text-align: center;
}

.logo-header {
  color: #F5F1EC;
  text-align: center;
  margin-top: 1rem;
}

.logo-header a {
  position: relative;
  font-family: "Amarante", cursive;
  font-size: 1.5rem;
  color: #F5F1EC;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}


.logo-header a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;              
  width: 100%;
  height: 2px;
  background-color: var(--accent-yellow);  
  transform: scaleX(0);    
  transform-origin: left;
  transition: transform 0.3s ease;
}

.logo-header a:hover::after {
  transform: scaleX(1);    
}

.nav-links-header {
  color: #F5F1EC;
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links-header a {
  position: relative; 
  text-decoration: none;
  color: #F5F1EC;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links-header a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;              
  width: 100%;
  height: 2px;
  background-color: var(--accent-yellow);  
  transform: scaleX(0);    
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav-links-header a:hover::after {
  transform: scaleX(1);    
}

.menu-toggle-header {
  display: none;
  font-size: 1.5rem;
  color: #F5F1EC;
  cursor: pointer;
}

footer {
  background-color: transparent;
  position: relative;
  z-index: 1000;
  padding: 0.5rem;
  text-align: center;
  margin-top: auto;
}

/* Social icons i footer */
.social-icons {
  margin-top: 0.5rem;
}

.social-icons a {
  position: relative;
  text-decoration: none;
  color: #F5F1EC;
  margin: 0 0.5rem;
  font-size: 2rem;
  transition: color 0.3s ease;
  display: inline-block;
  line-height: 1;
}

.social-icons a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;               
  width: 100%;
  height: 2px;
  background-color: var(--accent-yellow);  
  transform: scaleX(0);       
  transform-origin: left;
  transition: transform 0.3s ease;
}

.social-icons a:hover {
  color: var(--accent-yellow);
}

.social-icons a:hover::after {
  transform: scaleX(1);       
}

/* Mobilmeny */
@media (max-width: 768px) {
  .menu-toggle-header {
    display: block;
  }

   header:hover .menu-toggle-header {
    color: var(--primary-green);
  }

  .nav-links-header {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: var(--light-bg);
    display: none;
    padding: 1rem 0;
    text-align: center;
    transition: all 0.3s ease;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
  }

  .nav-links-header.active {
    display: flex;
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }

  .nav-links-header li {
    margin: 1rem 0;
  }
}
