/* Hero-sektioner */

.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.hero-1 {
  height: 100vh;
  background-image: url("../images/rainforest-1.jpg");
  z-index: 1;
  position: relative;
}

.hero-2 {
  height: 75vh;
  background-color: #333333;
  z-index: 1;
  position: relative;
}

.hero-3 {
  position: fixed; 
  top:0;
  left:0;
  height: 100vh;
  background-image: url("../images/gastronomy-1.jpg");
  z-index: 2;
}


/* Hero-titel (section hero-1) */

.hero-title {
  align-content: center; 
  margin-top: 10rem;
  margin-bottom: auto;
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
  color: #E3DED8;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  padding: 1rem 1rem 0 1rem;
  max-width: 90%;
}

.hero-sub-title {
  margin: auto;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  color: #E3DED8;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  padding: 1rem;
  max-width: 90%;
}

.book-now-button {
  display: block;
  background-color: transparent;
  color: #F5F1EC;
  border: 1px solid #F5F1EC;
  padding: 1rem 2rem;
  margin: 1rem auto;
  width: fit-content;
  max-width: 300px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.book-now-button:hover {
  color: var(--accent-yellow);
  border-color: var(--accent-yellow);
}


