/* HERO */
.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 100vh;
  position: relative;
  z-index: 1;
  background-image: url("../images/rainforest-1.jpg");
}
/*ROOMS*/
.hero-rooms {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 100vh;
  position: sticky;
  top: 0;
  z-index:1; 
  background-image: url("../images/rooms/hotel-room-1.jpg");
}

/* GASTRONOMY*/
.hero-gastro {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 100vh;
  position: sticky;
  top: 0;
  z-index: 2;
  background-image: url("../images/gastronomy-1.jpg");
}

/* SOBRE NOS */
.hero-sobre {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 100vh;position: sticky;
  top: 0;
  z-index: 3;
  background: #333333;
}

/* Contato */
.hero-contato { 
  height: 100vh;
  min-height: 100vh; 
  position: sticky;
  top: 0;
  z-index: 4;
  background-color: #E3DED8;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
 
}

.contato-title-h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 800;
  align-self: flex-start;
  color: #E3DED8;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.4);
  padding: 1rem;
  max-width: 100%;
}

.contato-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}

/*Kontaktinformation*/

.contato-info h1,
.contato-wrapper h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #1F382B;
}


.contato-info p,
.contato-wrapper p {
  margin: 0.3rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contato-info i,
.contato-wrapper i {
  color: #1F382B;
}

.contato-info {
  background: rgba(255, 255, 255, 0.85);
  padding: 1rem;
  border-radius: 15px;
  width: 40%;
  margin: 1rem auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
  border: 1px blue; 
}

/*Kontaktformulär*/

.contato-wrapper {
  background: rgba(255, 255, 255, 0.85);
  padding: 0.5rem;
  border-radius: 15px;
  width:50%;
  margin: 1rem auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  font-weight: bold;
}

input, textarea {
  padding: 0.2rem;
  border-radius: 8px;
  border: 1px solid #aaa;
  font-family: inherit;
  font-size: 1rem;
  resize: vertical;
}

button {
  padding: 0.5rem;
  font-size: 1.1rem;
  font-family: inherit;
  background-color: #4F7C63;
  color: #F5F1EC;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1F382B;
}

.feedback {
  margin: 0.5rem;
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
  color: #A24C3D;
}

/* Gemensamma Titlar och knappar */
.title-h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
  color: #E3DED8;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.4);
  padding: 1rem;
  max-width: 100%;
}

.title-h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: #E3DED8;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.4);
  padding: 1rem;
  max-width: 90%;
}

.general-button {
  display: block;
  background-color: transparent;
  color: #F5F1EC;
  border: 1px solid #F5F1EC;
  padding: 1rem 2rem;
  margin: 1rem auto;
  width: fit-content;
  max-width: 300px;
  text-align: center;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.general-button:hover {
  color: var(--accent-yellow);
  border-color: var(--accent-yellow);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

