/* Hero-sektioner */

.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.hero-1 {
  height: 100vh;
  background-image: url("../images/rainforest-1.jpg");
}

.hero-2 {
  height: 75vh;
  background-color: #333333;
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.hero-3 {
  height: 100vh;
  background-image: url("../images/gastronomy-1.jpg");
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

/* ANIMATIONER*/
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Hero-titel (section hero-1) */

.hero-title {
  align-content: center; 
  margin: 200px auto 0 auto;
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
  color: #E3DED8;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  padding: 1rem 1rem 0 1rem;
  max-width: 90%;
}

.hero-sub-title {
  align-content: center; 
  margin: auto;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  color: #E3DED8;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  padding: 2rem 1rem;
  max-width: 90%;
}

.book-now-button {
  display: block;
  background-color: transparent;
  color: #F5F1EC;
  border: 1px solid #F5F1EC;
  padding: 1rem 2rem;
  margin: 2rem auto;
  width: fit-content;
  max-width: 300px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.book-now-button:hover {
  color: var(--accent-yellow);
  border-color: var(--accent-yellow);
}


