.menu-section {
  background-image: url('../assets/exclusive-paper.png');
  background-color: #f3eac2;
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
  
  padding: 2rem;
  margin: 2rem auto;
  width: 80%;
  max-width: 700px;

  font-family: 'Georgia', serif;
  font-size: 1.2rem;
  color: #3e3a31;
  
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  border-radius: 8px;
  line-height: 1.6;
}

.menu-section h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-family: 'Amarante', cursive;
  color: #1F382B;
}

.menu-section h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-family: 'Amarante', cursive;
}

.menu-section h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: #7a6448;
  margin: 0.5rem auto 0;
}


.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0;
}

.menu-item:last-child {
  border-bottom: none;
}

.menu-item-name {
  font-weight: 500;
}

.menu-item-price {
  font-weight: 400;
  color: #4F7C63;
}
  .menu-item > div {
  display: flex;
  flex-direction: column;
}

  .menu-item-description {
  font-size: 0.9rem;
  font-style: italic;
  color: #333333;
  margin-top: 0.2rem;
}

.menu-item-description i {
  margin-left: 0.3rem;
}

.menu-icons-note {
  text-align: center;
  margin: 1rem 0;
  color: #2A4B3A;
}

.menu-icons-note i {
  margin: 0 0.4rem;
  font-size: 1.2rem;
}

.menu-icons-note p {
  margin-top: 0.5rem;
  font-size: 0.95rem;
  font-style: italic;
  color: #2A4B3A;
}
