body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-image: url('images/jungle-background-1.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  color: #2d2d2d;
}


/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
   background-color: #333333;
  padding: 1rem 2rem;
  color: white;
  position: relative;
  z-index: 1000;
}

.navbar .logo {
  font-size: 2rem;
  font-weight: 800;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  display: inline-block; /* viktigt för att transform ska fungera */
  transition: color 0.3s, transform 0.3s ease;
}

.nav-links a:hover {
  color: #009739; /* brasilianskt grönt */
  transform: scale(1.1); /* förstorar länken */
}

/* HAMBURGER-MENY: gömd på stora skärmar */
.menu-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* PARALLAX & SEKTIONER */
.section {
  padding: 4rem 2rem;
  max-width: 1024px;
  margin: auto;
  text-align: center;
  background-color: white;
}

/* Fasta bakgrunder */
.bg-fixed {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 6rem 2rem;
  min-height: 50 hv;
}

#start {
  background-image: url('images/skog-dimma-1.jpg');
}

#mat {
  background-image: url('images/brasiliansk-mat.jpg');
}

#hitta-hit {
  background-image: url('images/karta.jpg');
}

/* Knappar */
button {
  background-color: #009739; /* brasilianskt grönt */
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #007f2e;
}

/* Footer */
footer {
  background-color: #333333;
  color: white;
  text-align: center;
  padding: 1rem;
}

.social-icons a {
  color: white;
  font-size: 2rem;
  margin: 0 0.5rem;
  text-decoration: none;
}

main {
  max-width: 1024px;
  margin: 2rem auto;
  background-color: #F0EAD6;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  position: relative;
  z-index: 1;
}


/* MOBILANPASSNING */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #006aa7;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 1rem 0;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}
