body {
  font-family: Verdana, sans-serif;
  background-color: white;
  margin: 0;
  padding: 16px;
  text-align: center;
}

.container {
  max-width: 1024px;
  margin: 10px;
  padding: 16px;
}

.message {
  background-color: #4E4B4B;
  color: white;
  border-radius: 15px;
}

.message a {
  color: #ffffff;
  text-decoration: underline;
}

.message a:hover {  
  color: #bbbbbb;      
  cursor: pointer;     
}                     

.logo {
  background-color: white;
}

.logo img {
  display: block;
  height: auto;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  border: none;
}

.section {
  background-color: #BCD3BA;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 20px;
}

.section a {
  display: inline-block;
  background-color: #4D6B57;
  color: white;
  padding: 14px 28px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 12px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.section a:hover {
  background-color: #3a5140;  /* Mörkare grön */
  transform: scale(1.05);     /* Liten förstoring */
  cursor: pointer;
}

